form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#tweet {
  background-color: #4056a1;
  color: #ffffff;
}

.tweet-size {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 15px;
  font-weight: bold;
  font-family: "Bungee";
}
#tweet-text {
  border-top:none;
  border-left: none;
  border-right: none;
  background: rgb(244, 241, 236);
  border-bottom: 4px solid black;
  margin-top: 20px;
  resize: none;
  outline: none;
}
